// color
$orange:  #fd5f46;
$white: #fffff;
$grey: #dbdfe2;
$fontHeaderFooter: #2f333c;
$textHeaderFooter: #ffffff;
$backgroundContent: #f3f3f3;
$textAll: #2f333c;
$textLight: #6f737c;
$activeItem: #d2d4d7;
$backgroundContact: #f3f3f3;
$borderFooter: #6a7077;
$btnDetails: #6f737c;


// fonts
$rouble: 'rouble';
$openSansLight: 'open_sanslight';
$openSans: 'open_sansregular';
$notoSansBold: 'noto_sansbold';
$notoSans: 'noto_sansregular';
$bravo: 'bravorgregular';
