.apartments-list
	ul.apartments-list__list
		li.apartments-list__item.apartments-list__item-premium
			a.apartments-list__link(href='#124124')
				.apartments__photo.apartments-list__photo
					img.apartments-list__pic(src='./assets/img/foto/flat6.jpg' alt='квартира')
				.apartments-list__info
					.apartments-list__title
						span 3-комнатная квартира 78 м²
					.apartments-list__text
						p Загорьевская улица, 23к1
						p Орехово, 41 мин. на транспорте
					.apartments-list__price
						.price__big.apartments-list__price-big
							span 10 570 000
							span.ruble &#8381
						.price__small
							span 60 000
							span.ruble &#8381
							span м²
					.apartments-list__date
						.apartments-list__date-pic
						.apartments-list__date-text
							span 10.11.15
				.apartments-list__icon
					.star.apartments-list__star
					.apartments-list__vip
		li.apartments-list__item.apartments-list__item-color
			a.apartments-list__link(href='#43646')
				.apartments__photo.apartments-list__photo
					img.apartments-list__pic(src='./assets/img/foto/flat5.jpg' alt='квартира')
				.apartments-list__info
					.apartments-list__title
						span 3-комнатная квартира 78 м²
					.apartments-list__text
						p Загорьевская улица, 23к1
						p Орехово, 41 мин. на транспорте
					.apartments-list__price
						.price__big.apartments-list__price-big
							span 10 570 000
							span.ruble &#8381
						.price__small
							span 60 000
							span.ruble &#8381
							span м²
					.apartments-list__date
						.apartments-list__date-pic
						.apartments-list__date-text
							span 10.11.15
				.apartments-list__icon
					.star.apartments-list__star
		li.apartments-list__item
			a.apartments-list__link(href='#1254235')
				.apartments__photo.apartments-list__photo
					img.apartments-list__pic(src='./assets/img/foto/flat4.jpg' alt='квартира')
				.apartments-list__info
					.apartments-list__title
						span 3-комнатная квартира 78 м²
					.apartments-list__text
						p Загорьевская улица, 23к1
						p Орехово, 41 мин. на транспорте
					.apartments-list__price
						.price__big.apartments-list__price-big
							span 10 570 000
							span.ruble &#8381
						.price__small
							span 60 000
							span.ruble &#8381
							span м²
					.apartments-list__date
						.apartments-list__date-pic
						.apartments-list__date-text
							span 10.11.15
				.apartments-list__icon
					.star.apartments-list__star
					.apartments-list__premium
		li.apartments-list__item
			a.apartments-list__link(href='#432545')
				.apartments__photo.apartments-list__photo
					img.apartments-list__pic(src='./assets/img/foto/nofoto.jpg' alt='квартира')
				.apartments-list__info
					.apartments-list__title
						span 3-комнатная квартира 78 м²
					.apartments-list__text
						p Загорьевская улица, 23к1
						p Орехово, 41 мин. на транспорте
					.apartments-list__price
						.price__big.apartments-list__price-big
							span 10 570 000
							span.ruble &#8381
						.price__small
							span 60 000
							span.ruble &#8381
							span м²
					.apartments-list__date
						.apartments-list__date-pic
						.apartments-list__date-text
							span 10.11.15
				.apartments-list__icon
					.star.apartments-list__star
					.apartments-list__lamp
		li.apartments-list__item
			a.apartments-list__link(href='#234141')
				.apartments__photo.apartments-list__photo
					img.apartments-list__pic(src='./assets/img/foto/flat3.jpg' alt='квартира')
				.apartments-list__info
					.apartments-list__title
						span 3-комнатная квартира 78 м²
					.apartments-list__text
						p Загорьевская улица, 23к1
						p Орехово, 41 мин. на транспорте
					.apartments-list__price
						.price__big.apartments-list__price-big
							span 10 570 000
							span.ruble &#8381
						.price__small
							span 60 000
							span.ruble &#8381
							span м²
					.apartments-list__date
						.apartments-list__date-pic
						.apartments-list__date-text
							span 10.11.15
				.apartments-list__icon
					.star.apartments-list__star
					.apartments-list__arrow
		li.apartments-list__item
			a.apartments-list__link(href='#123124455')
				.apartments__photo.apartments-list__photo
					img.apartments-list__pic(src='./assets/img/foto/flat2.jpg' alt='квартира')
				.apartments-list__info
					.apartments-list__title
						span 3-комнатная квартира 78 м²
					.apartments-list__text
						p Загорьевская улица, 23к1
						p Орехово, 41 мин. на транспорте
					.apartments-list__price
						.price__big.apartments-list__price-big
							span 10 570 000
							span.ruble &#8381
						.price__small
							span 60 000
							span.ruble &#8381
							span м²
					.apartments-list__date
						.apartments-list__date-pic
						.apartments-list__date-text
							span 10.11.15
				.apartments-list__icon
					.apartments-list__star
		li.apartments-list__item
			a.apartments-list__link(href='#32323')
				.apartments__photo.apartments-list__photo
					img.apartments-list__pic(src='./assets/img/foto/flat1.jpg' alt='квартира')
				.apartments-list__info
					.apartments-list__title
						span 3-комнатная квартира 78 м²
					.apartments-list__text
						p Загорьевская улица, 23к1
						p Орехово, 41 мин. на транспорте
					.apartments-list__price
						.price__big.apartments-list__price-big
							span 10 570 000
							span.ruble &#8381
						.price__small
							span 60 000
							span.ruble &#8381
							span м²
					.apartments-list__date
						.apartments-list__date-pic
						.apartments-list__date-text
							span 10.11.15
				.apartments-list__icon
					.apartments-list__star
		li.apartments-list__item
			a.apartments-list__link(href='#3213213123')
				.apartments__photo.apartments-list__photo
					img.apartments-list__pic(src='./assets/img/foto/nofoto.jpg' alt='квартира')
				.apartments-list__info
					.apartments-list__title
						span 3-комнатная квартира 78 м²
					.apartments-list__text
						p Загорьевская улица, 23к1
						p Орехово, 41 мин. на транспорте
					.apartments-list__price
						.price__big.apartments-list__price-big
							span 10 570 000
							span.ruble &#8381
						.price__small
							span 60 000
							span.ruble &#8381
							span м²
					.apartments-list__date
						.apartments-list__date-pic
						.apartments-list__date-text
							span 10.11.15
				.apartments-list__icon
					.apartments-list__star
	.apartments-list-nav
		.apartments-list-nav__arrow-left
		ul.apartments-list-nav__list
			li.apartments-list-nav__item.apartments-list-nav__item-active
				.apartments-list-nav__text
					span 1
			li.apartments-list-nav__item
				.apartments-list-nav__text
					span 2
			li.apartments-list-nav__item
				.apartments-list-nav__text
					span 3
			li.apartments-list-nav__item
				.apartments-list-nav__text
					span ...
			li.apartments-list-nav__item
				.apartments-list-nav__text
					span 11
			li.apartments-list-nav__item
				.apartments-list-nav__text
					span 12
		.apartments-list-nav__arrow-right
