.apartments-info
	.apartments-info__title
		span 3-комнатная квартира 78 м²
		.apartments-info__star
	.apartments-info__address
		span Загорьевская улица, 23к1
	.apartments-info__price
		.price__big.apartments-info__price-big
			span 10 570 000
			span.ruble &#8381
		.price__small.apartments-info__price-small
			span 60 000
			span.ruble &#8381
			span м²
	.apartments-info__map(id='map')
	.apartments-info__contact
		.apartments-info__name
			.apartments-info__name-text
				span Наталья, собственник
			.apartments-info__name-phone
				span +7 925 569 XX XX
		.apartments-info__button
			button.button.apartments-info__btn Показать телефон
	.apartments-info__photo
		ul.apartments-info__photo-list
			li.apartments-info__photo-item
				a.apartments-info__photo-link(href='#')
					img.apartments-info__photo-img(src='./assets/img/foto/flat7.jpg' alt='Фотографии квартиры')
			li.apartments-info__photo-item
				a.apartments-info__photo-link(href='#')
					img.apartments-info__photo-img(src='./assets/img/foto/flat8.jpg' alt='Фотографии квартиры')
			li.apartments-info__photo-item
				a.apartments-info__photo-link(href='#')
					img.apartments-info__photo-img(src='./assets/img/foto/flat9.jpg' alt='Фотографии квартиры')
			li.apartments-info__photo-item
				a.apartments-info__photo-link(href='#')
					img.apartments-info__photo-img(src='./assets/img/foto/flat10.jpg' alt='Фотографии квартиры')
			li.apartments-info__photo-item
				a.apartments-info__photo-link(href='#')
					img.apartments-info__photo-img(src='./assets/img/foto/flat11.jpg' alt='Фотографии квартиры')
			li.apartments-info__photo-item
				a.apartments-info__photo-link(href='#')
					img.apartments-info__photo-img(src='./assets/img/foto/flat5.jpg' alt='Фотографии квартиры')
			li.apartments-info__photo-item
				a.apartments-info__photo-link(href='#')
					img.apartments-info__photo-img(src='./assets/img/foto/flat4.jpg' alt='Фотографии квартиры')
			li.apartments-info__photo-item
				a.apartments-info__photo-link(href='#')
					img.apartments-info__photo-img(src='./assets/img/foto/flat3.jpg' alt='Фотографии квартиры')
		.apartments-info__photo-arrow_left
		.apartments-info__photo-arrow_right
	.apartments-info__description
		.apartments-info__description-title
			span Описание продавца
		.apartments-info__description-text
			p Портал «Вся недвижимость» – крупнейший тематический Интернет-ресурс, посвященный рынку недвижимости в Уфе. Купить или продать квартиру, снять или сдать в аренду жилую площадь, получить консу  еской недвижимости и многом другом. Также на портале есть ряд полезных сервисов (ипотечный калькулятор, квартиры в Уфе от застройщика и др.).
	.apartments-info__size
		ul.apartments-info__size-list
			li.apartments-info__size-item
				.apartments-info__size-number
					span 78 м²
				.apartments-info__size-name
					span Общая
			li.apartments-info__size-item
				.apartments-info__size-number
					span 48 м²
				.apartments-info__size-name
					span Жилая
			li.apartments-info__size-item
				.apartments-info__size-number
					span 11 м²
				.apartments-info__size-name
					span Кухня
			li.apartments-info__size-item
				.apartments-info__size-number
					span 3
				.apartments-info__size-name
					span Комнаты
			li.apartments-info__size-item
				.apartments-info__size-number
					span 8 этаж
				.apartments-info__size-name
					span Из 17
			li.apartments-info__size-item
				.apartments-info__size-number
					span 2002
				.apartments-info__size-name
					span Год постройки
	.apartments-info__catalog
		.apartments-info__catalog-left
			.apartments-info__catalog-title
				span Квартира
			ul.apartments-info__catalog-list
				li.apartments-info__catalog-item
					.apartments-info__catalog-text
						span Раздельный санузел
				li.apartments-info__catalog-item
					.apartments-info__catalog-text
						span Балкон
				li.apartments-info__catalog-item
					.apartments-info__catalog-text
						span Ремонт хороший
				li.apartments-info__catalog-item
					.apartments-info__catalog-text
						span Вид из окна во двор
		.apartments-info__catalog-right
			.apartments-info__catalog-title
				span Дом
			ul.apartments-info__catalog-list
				li.apartments-info__catalog-item
					.apartments-info__catalog-text
						span Панель (П-3М)
				li.apartments-info__catalog-item
					.apartments-info__catalog-text
						span Лифт
				li.apartments-info__catalog-item
					.apartments-info__catalog-text
						span Мусоропровод
	.apartments-info__contact
		.apartments-info__name
			.apartments-info__name-text
				span Наталья, собственник
			.apartments-info__name-phone
				span +7 925 569 XX XX
		.apartments-info__button
			button.button.apartments-info__btn Показать телефон