.filter
	.filter-wrapper
		.container
			.content
				.filter__nav
					ul.filter__list
						li.filter__item
							.filter__text.filter__text-buy
								span Купить
							.filter__text-rent.menu__dropdown
								span Снять
							.filter__arrow
						li.filter__item
							.filter__text.filter__text-flat
								span Квартиру
							.filter__text-room.menu__dropdown
								span Комнату
							.filter__arrow
						li.filter__item.filter__item-room
							.filter__text.filter__text-rooms
								span Комнат
							.filter__arrow
						li.filter__item
							.filter__text.filter__text-district
								span Район
							.filter__text-district_name.menu__dropdown
								span Центральный
							.filter__arrow
					.filter__input
						input.input.filter__input-of(type='text' placeholder='От')
						input.input.filter__input-before(type='text' placeholder='До')
					.ruble.filter__ruble &#8381
					.filter__button
						button.button.filter__button-details Еще детали
						button.button.filter__button-search Найти
