footer.footer
	.footer-wrapper
		.container
			.content
				.footer-up
					.logo.footer-up__logo
						.logo__text
							span.logo__text-color ваша
							span недвижимость
					nav.nav
						ul.nav__list
							li.nav__item.footer-up__nav-item
								a.nav__link(href='#')
									.nav__text.footer-up__nav-text
										span обратная связь
							li.nav__item.footer-up__nav-item
								a.nav__link(href='#')
									.nav__text.nav-active
										span реклама на сайте
							li.nav__item.footer-up__nav-item
								a.nav__link(href='#')
									.nav__text.footer-up__nav-text
										span пользовательское соглашение
							li.nav__item.footer-up__nav-item
								a.nav__link(href='#')
									.nav__text.footer-up__nav-text
										span помощь
				.footer-center
					ul.footer-center__list
						li.footer-center__item
							.footer-center__title
								span новостройки
							ul.footer__list
								li.footer__item
									.footer__text
										span Однокомнатные
								li.footer__item
									.footer__text
										span Двухкомнатные
								li.footer__item
									.footer__text
										span Трехкомнатные
								li.footer__item
									.footer__text
										span Дом
						li.footer-center__item
							.footer-center__title
								span вторичка
							ul.footer__list
								li.footer__item
									.footer__text
										span Однокомнатные
								li.footer__item
									.footer__text
										span Двухкомнатные
								li.footer__item
									.footer__text
										span Трехкомнатные
								li.footer__item
									.footer__text
										span Дом
						li.footer-center__item
							.footer-center__title
								span земля
							ul.footer__list
								li.footer__item
									.footer__text
										span Участок земли
						li.footer-center__item
							.footer-center__title
								span коммерческая недвижимость
							ul.footer__list
								li.footer__item
									.footer__text
										span Офис
								li.footer__item
									.footer__text
										span Магазин
								li.footer__item
									.footer__text
										span Склад
								li.footer__item
									.footer__text
										span Производство
								li.footer__item
									.footer__text
										span Участок земли
						li.footer-center__item
							.footer-center__title
								span аналитика
						li.footer-center__item
							.footer-center__title
								span контакты
							ul.footer__list
								li.footer__item
									.footer__icon
										.footer__icon-pointer
									.footer__text
										span г. Н. Новгород, пл. Лядова, 133
								li.footer__item
									.footer__icon
										.footer__icon-phone
									.footer__text
										span 8 800 333 33 33
								li.footer__item
									.footer__icon
										.footer__icon-mail
									.footer__text
										span info@mail.ru
				.footer-down
					.footer-down__content
						.footer-down__icon
							.footer-down__house-small
							.footer-down__house-big
						.footer-down__info
							.footer-down__title
								span недвижимость в уфе
							.footer-down__text
								p Портал «Вся недвижимость» – крупнейший тематический Интернет-ресурс, посвященный рынку недвижимости в Уфе. Купить или продать квартиру, снять или сдать в аренду жилую площадь, получить консу  еской недвижимости и многом другом. Также на портале есть ряд полезных сервисов (ипотечный калькулятор, квартиры в Уфе от застройщика и др.).
								p Портал «Вся недвижимость» – крупнейший тематический Интернет-ресурс, посвященный рынку недвижимости в Уфе. Купить или продать квартиру, снять или сдать в аренду жилую площадь, получить консу  еской недвижимости и многом другом.
					.footer-down__copyright
						span © ООО «Пронто-Уфа», 2006-2016
