header.header
	.header-wrapper
		.container
			.content
				.header-left
					.logo
						.logo__text
							span.logo__text-color ваша
							span недвижимость
					.city
						.city__text
							span Нижний Новгород
				.header-right
					button.button.header-right__button
						span.header-right__button-margin +
						span Новое объявление
					.stars
						.stars__pic
						.stars__text
							span 7
					.info
						.info__avatar
							img.info__avatar-img(src='./assets/img/avatar/avatar.jpg' alt="Аватар")
						.info__number
							span 3
						.info__name
							span Иванов Иван


