aside.sidebar
	.sidebar-wrapper
		.container
			.content
				nav.nav
					ul.nav__list
						li.nav__item
							a.nav__link(href= '#')
								.nav__text новостройки
						li.nav__item
							a.nav__link(href= '#')
								.nav__text вторичка
						li.nav__item
							a.nav__link(href= '#')
								.nav__text.nav-active земля
						li.nav__item
							a.nav__link(href= '#')
								.nav__text.nav__text-margin коммерческая недвижимость
						li.nav__item
							a.nav__link(href= '#')
								.nav__text аналитика
						li.nav__item
							a.nav__link(href= '#')
								.nav__text каталог фирм