.similar
	.similar__header
		.similar__title
			span Похожие квартиры
		.similar__arrow
			.similar__arrow-left
			.similar__arrow-right
	.similar__content
		.similar-slider
			ul.similar-slider__list
				li.similar-slider__item
					ul.similar__list-left
						li.similar__item
							.apartments__photo.similar__photo
								img.similar__photo-img(src='./assets/img/foto/flat3.jpg' alt='квартира')
							.similar__info
								.similar__info-title
									span 3-комнатная квартира 78 м²
								.similar__info-price
									.price__big.similar__info-price_big
										span 10 570 000
										span.ruble &#8381
									.price__small
										span 60 000
											span.ruble &#8381
											span м²
						li.similar__item
							.apartments__photo.similar__photo
								img.similar__photo-img(src='./assets/img/foto/flat6.jpg' alt='квартира')
							.similar__info
								.similar__info-title
									span 3-комнатная квартира 78 м²
								.similar__info-price
									.price__big
										span 10 570 000
										span.ruble &#8381
									.price__small
										span 60 000
											span.ruble &#8381
											span м²
					ul.similar__list-right
						li.similar__item
							.apartments__photo.similar__photo
								img.similar__photo-img(src='./assets/img/foto/flat12.jpg' alt='квартира')
							.similar__info
								.similar__info-title
									span 3-комнатная квартира 78 м²
								.similar__info-price
									.price__big
										span 10 570 000
										span.ruble &#8381
									.price__small
										span 60 000
											span.ruble &#8381
											span м²
						li.similar__item
							.apartments__photo.similar__photo
								img.similar__photo-img(src='./assets/img/foto/flat13.jpg' alt='квартира')
							.similar__info
								.similar__info-title
									span 3-комнатная квартира 78 м²
								.similar__info-price
									.price__big
										span 10 570 000
										span.ruble &#8381
									.price__small
										span 60 000
											span.ruble &#8381
											span м²
				li.similar-slider__item
					ul.similar__list-left
						li.similar__item
							.apartments__photo.similar__photo
								img.similar__photo-img(src='./assets/img/foto/flat3.jpg' alt='квартира')
							.similar__info
								.similar__info-title
									span 3-комнатная квартира 78 м²
								.similar__info-price
									.price__big.similar__info-price_big
										span 10 570 000
										span.ruble &#8381
									.price__small
										span 60 000
											span.ruble &#8381
											span м²
						li.similar__item
							.apartments__photo.similar__photo
								img.similar__photo-img(src='./assets/img/foto/flat6.jpg' alt='квартира')
							.similar__info
								.similar__info-title
									span 3-комнатная квартира 78 м²
								.similar__info-price
									.price__big
										span 10 570 000
										span.ruble &#8381
									.price__small
										span 60 000
											span.ruble &#8381
											span м²
					ul.similar__list-right
						li.similar__item
							.apartments__photo.similar__photo
								img.similar__photo-img(src='./assets/img/foto/flat12.jpg' alt='квартира')
							.similar__info
								.similar__info-title
									span 3-комнатная квартира 78 м²
								.similar__info-price
									.price__big
										span 10 570 000
										span.ruble &#8381
									.price__small
										span 60 000
											span.ruble &#8381
											span м²
						li.similar__item
							.apartments__photo.similar__photo
								img.similar__photo-img(src='./assets/img/foto/flat13.jpg' alt='квартира')
							.similar__info
								.similar__info-title
									span 3-комнатная квартира 78 м²
								.similar__info-price
									.price__big
										span 10 570 000
										span.ruble &#8381
									.price__small
										span 60 000
											span.ruble &#8381
											span м²
				li.similar-slider__item
					ul.similar__list-left
						li.similar__item
							.apartments__photo.similar__photo
								img.similar__photo-img(src='./assets/img/foto/flat3.jpg' alt='квартира')
							.similar__info
								.similar__info-title
									span 3-комнатная квартира 78 м²
								.similar__info-price
									.price__big.similar__info-price_big
										span 10 570 000
										span.ruble &#8381
									.price__small
										span 60 000
											span.ruble &#8381
											span м²
						li.similar__item
							.apartments__photo.similar__photo
								img.similar__photo-img(src='./assets/img/foto/flat6.jpg' alt='квартира')
							.similar__info
								.similar__info-title
									span 3-комнатная квартира 78 м²
								.similar__info-price
									.price__big
										span 10 570 000
										span.ruble &#8381
									.price__small
										span 60 000
											span.ruble &#8381
											span м²
					ul.similar__list-right
						li.similar__item
							.apartments__photo.similar__photo
								img.similar__photo-img(src='./assets/img/foto/flat12.jpg' alt='квартира')
							.similar__info
								.similar__info-title
									span 3-комнатная квартира 78 м²
								.similar__info-price
									.price__big
										span 10 570 000
										span.ruble &#8381
									.price__small
										span 60 000
											span.ruble &#8381
											span м²
						li.similar__item
							.apartments__photo.similar__photo
								img.similar__photo-img(src='./assets/img/foto/flat13.jpg' alt='квартира')
							.similar__info
								.similar__info-title
									span 3-комнатная квартира 78 м²
								.similar__info-price
									.price__big
										span 10 570 000
										span.ruble &#8381
									.price__small
										span 60 000
											span.ruble &#8381
											span м²