.sorting
	.container
		.content
			nav.sorting-nav
				.sorting__title
					span Сортировать:
				ul.sorting-nav__list
					li.sorting-nav__item.sorting-nav__item-active
						.sorting-nav__text
							span по умолчанию
					li.sorting-nav__item
						.sorting-nav__text
							span по цене
						.sorting-nav__arrow
					li.sorting-nav__item
						.sorting-nav__text
							span по дате обновления
				.sorting__title.sorting__title-show
					span Показать:
				ul.sorting-nav__list
					li.sorting-nav__item
						.sorting-nav__text
							span список
					li.sorting-nav__item
						.sorting-nav__text
							span на карте
